<head>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src = '/js/submit-email.js'></script>
</head>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form id ="email-form">
  <input id = "fName" type="text" placeholder="First Name">
  <input id = "lName" type="text" placeholder="Last Name">
  <input id = "email" type="text" placeholder="email">
  <button id="submitBtn">Submit</button>
</form>
